/logs/
/local/
/Distant_Horizons_server_data/
/defaultconfigs/
/.vscode/
/.idea/
/resourcepacks/
/.build
/build/.cache
/build/curseforge
/build/modrinth
/build/serverpack
/.cache/import/entityculling-forge-1.8.1-mc1.20.1.jar
/.cache/??
/.cache/temp